<!DOCTYPE html>
<html>
  <head>
    <title>RobustaJobTask</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- <div id="notify">
      <p class="alert alert-success"></p>
      <p class="alert"></p>
    </div> -->
    <% unless notice.nil? %>
      <div class="alert alert-success">
        <strong>Success!</strong> <%= notice.html_safe %>
      </div>
    <% end %>

    <% unless alert.nil? %>
      <div class="alert alert-danger">
        <strong>Danger!</strong> <%= alert.html_safe %>
      </div>
    <% end %>

    <div id="user-info">
    </div>
    <%= yield %>
  </body>
</html>
